#dynamic_island{
    position: absolute;
    z-index: 56;
    width: 8em;
    height: 2.5em;
    top: 0.5em;
    border-radius: 1.5em;
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sensorDI{
    width: 0.5em; 
    height: 0.5em;
    margin: auto 0 auto 1em;
    border-radius: 100%;
    box-shadow:0 0 0.6em #86b6ff;    
    background:linear-gradient(100deg,#142338, #1861ff);
}
#cameraDI{
    width: 0.5em; 
    height: 0.5em;
    margin: auto 1em auto 0;
    border-radius: 100%;
    box-shadow:0 0 0.6em #ac68fa;
    background: linear-gradient(70deg,#271c44, #6b21cc);
}