*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #6900d1;

    display: flex;
    justify-content: center;
    align-items: center;
}

#root{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
#root > #content-general{
    width: 50vh;
    padding: 1em;
    border-radius: 1em;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
#root > #content-general > #content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#root > #content-general > #content > p{
    font-size: 1.5em;
    padding: 0.5em;
}


#metadatos{
    color: #ff42f1;
    font-weight: bold;
}
a{
    text-decoration: none;
}