.content_windows{
    width: 100%;
    min-height: 75%;
    padding-top: 1em;
    margin-top: 4em;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.splide{
    width: 100%;
    height:100%;
}
.splide__slide{
    width: 400px;
    min-height:500px;
    max-height:584px;
    
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}
.splide__arrow--prev, .splide__arrow--next {
    display: none;
}
.splide__pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.splide__pagination li{
    padding: 0.1em;
}
.splide__pagination__page.is-active{
    width: 0.7em;
    height: 0.7em;
}
.splide__pagination__page{
    width: 0.7em;
    height: 0.7em;
}
.container_list_app{
    max-width: 20em;
    min-width: 20em;
    height: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}


.contFS{
    position: absolute;
    z-index: 49;
    width: 400px;
    height:100%;
    border-radius:4.2em;
    animation: showApp;
    animation-duration:500ms;
    transition: all ease-in-out .3s;
    overflow-y:auto;
    overflow-x: hidden;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contFS > .appImg{
    width: 25%;
    height: auto;
    box-shadow: 0 0 1em #333;
}
.contFS > .content_app > img{
    width: 6em;
    height: auto;
    border-radius: 1em;
}
.contFS > .content_app > span{
    font-size: 1.3em;
    color: #333;
}
.contFS > .content_app > p{
    position: absolute;
    bottom: 6em;
    color: rgb(100 131 155);
}
.contFS > img{
    position: absolute;
    z-index: 48;
    width: 400px;
    height: 1480px;
    top: 10px;
}
.hideApp{
    position: absolute;
    z-index: 3;
    width: 400px;
    height: 800px;
    border-radius:4.2em;
    transition: all ease-in-out .3s;
    background-color: #397091;
    animation: hideApp;
    animation-duration: 500ms;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.app{
    cursor: pointer;
}
.appImg:active{
    animation: showApp;
}

@keyframes showApp {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes hideApp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}