@import "./IOS/CompApps/allApps.css";
#iphoneScreen{
    position: relative;
    width: 25em;
    height: 50em;
    overflow: hidden;

    border-radius: 3.5em;
    border-top: 0.7em solid black;/*#263036;*/
    border-right: 0.5em solid black;
    border-bottom: 0.7em solid black;
    border-left: 0.5em solid black;
    
    box-shadow: inset 0em 0em 1em #000;

    background-color: black;
    background-size:cover;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;

    transition: all ease-in-out 1s;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}