#button_home{
    position: absolute;
    z-index: 51;
    bottom: 0.5em;
    width: 50%;
    height: 0.6em;
    border-radius: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 1s;

    display: flex;
}