main{
    position: relative;
    border-radius: 10em;
    box-shadow: 0em 0.2em 1em rgb(36, 44, 48);
}
#button_action{
    position: absolute;
    z-index: 1;
    width: 0.4em;
    height: 3em;
    content: '';
    top: 9em;
    left: -0.4em;
    border-radius: 1em 0 0 1em;
    background-color: rgb(25, 32, 36);
}
#button_v_up{
    position: absolute;
    z-index: 1;
    width: 0.4em;
    height: 6em;
    content: '';
    top: 13em;
    left: -0.4em;
    border-radius: 1em 0 0 1em;
    background-color: rgb(25, 32, 36);
}
#button_v_down{
    position: absolute;
    z-index: 1;
    width: 0.4em;
    height: 6em;
    content: '';
    top: 20em;
    left: -0.4em;
    border-radius: 1em 0 0 1em;
    background-color: rgb(25, 32, 36);
}
#button_lock{
    position: absolute;
    z-index: 1;
    cursor: pointer;
    width: 0.4em;
    height: 6em;
    content: '';
    top: 15em;
    right: -0.4em;
    border-radius: 0 1em 1em 0;
    background-color: rgb(25, 32, 36);
}
#phone{
    position: relative;
    width: 400px;
    height: 800px;
    overflow: hidden;

    border-radius: 4.6rem;
    border: 0.8em solid #263036;
    
    box-shadow: inset 0em 0em 1em #000;

    background-color: black;
    background-image: url("../../assets/images/wp/bg_iphone.jpg");
    background-size:cover;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;

    transition: all 1s ease-in-out;
    cursor: pointer;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

#cont_apps_home{
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}