#content_dock{
    position: absolute;
    bottom: 0;
    width:100vw;
    height:7em;
    min-width: 25em;

    display: flex;
    justify-content: center;
    align-items: center;
}
.dock{
    width: 88%;
    height: auto;
    max-width:26.875em;
    margin-bottom: 0.6em;
    border-radius: 2em;
    backdrop-filter: blur(0.2em);
    background-color: var(--bg-color-a);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.dockImg{
    width: 4em;
    height: auto;
    margin: 0.25em;
    border-radius: 1em;
}