#content_dock{
    position: absolute;
    bottom: 0;
    width: 25em;
    height:7em;
    z-index: 40;

    display: flex;
    justify-content: center;
    align-items: center;
}
.dock{
    width: 88%;
    height: auto;
    max-width: 21em;
    margin-bottom: 0.6em;
    border-radius: 1.5em;
    backdrop-filter: blur(0.5em);
    background-color: var(--bg-color-a);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}