*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


  --border-radius: 2em;
  --bg-image: url("/assets/wp/wp-iphone.jpg");
  --bg-color-a: rgba(48, 48, 48, 0.7);
  --bg-color-a2: rgba(48, 48, 48, 0.9);
  --blur: blur(15px);
  --min-width: 25em;
  --min-height: 50em;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#loaderPage{
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  text-shadow: 0em 0em 1em black;
  background-image: url("/assets/wp/wp-iphone-lockScreen.jpg");

  display: flex;
  justify-content: center;
  align-items: center;
}
#loaderPage > #lp-title{
  width: auto;
  height: 2em;
  color: white;
  font-size: 1em;
}
#loaderPage > #lp-title > #titleMetadatos{
  font-size: 2em;
}
#root{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-weight: 500;
  color: white;/*#646cff;*/
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  height:auto;
  background-color: black;
}
.loader {
  position: absolute;
  z-index: 1;
  width: 3.5em;
  height: 3.5em;
  top: 50%;
  border-radius: 50%;
  border: 0.5em dotted #FFF;

  animation: rotation 2s linear infinite;
  display: none;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 

.hide{
  display: none;
}