*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


  --border-radius: 2em;
  --bg-image: url("/assets/wp/wp-iphone.jpg");
  --bg-color-a: rgba(48, 48, 48, 0.7);
  --bg-color-a2: rgba(48, 48, 48, 0.9);
  --blur: blur(15px);
  --min-width: 24.375em;
  --min-height: 52.75em;
  --bg-color: #8539db;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#loaderPage{
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  min-width: var(--min-width);
  min-height: var(--min-height);
  text-shadow: 0em 0em 1em black;
  background-color: var(--bg-color);
  background-size:cover;
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}
#loaderPage > #lp-title{
  width: auto;
  height: 2em;
  color: white;
  font-size: 1em;
}
#loaderPage > #lp-title > #titleMetadatos{
  font-size: 2em;
}
#root{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-weight: 500;
  color: white;/*#646cff;*/
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  height:auto;
  background-color: black;
}

.hide{
  display: none;
}

#content{
  position: absolute;
  z-index: 90;
  width: 100vw;
  height: 100vh;
  background-color: #871BE2;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#content > #nomobile-text{
  width: 55vw;
  font-size: 1.2em;
  padding: 1em;
  border-radius: 1em;
  background-color: #333;
}

#metadatos{
  color: #ff42f1;
  font-weight: bold;
}

canvas{
  width: 100vw;
  height: auto;
  overflow-y: hidden;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}