@import "./IOS/CompApps/allApps.css";
#iphoneScreen{
    position: relative;
    width: var(--width);
    height: var(--height);
    overflow: hidden;

    border-radius: var(--border-radius);
    border: 0.5em solid black;
    
    box-shadow: inset 0em 0em 1em #000;

    background-color: black;
    background-size:cover;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;

    transition: all ease-in-out 1s;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
main{
    position: relative;
    border-radius: 5em;
    box-shadow: 0em 0.2em 1em rgb(39, 38, 38);
  
    display: flex;
    justify-content: center;
    align-items: center;
}